<pl.edu.pw.rso2012.a1.dvcs.model.configuration.Configuration>
  <repositoryConfiguration>
    <repositoryAddress>rso2012a1@gmail.com</repositoryAddress>
    <repositoryPass>plokij00</repositoryPass>
    <repositoryAbsolutePath>D:\Coding\Haskell</repositoryAbsolutePath>
  </repositoryConfiguration>
</pl.edu.pw.rso2012.a1.dvcs.model.configuration.Configuration>