<pl.edu.pw.rso2012.a1.dvcs.model.configuration.Configuration>
  <repositoryConfiguration>
    <repositoryAddress>dvcsrso@gmail.com</repositoryAddress>
    <repositoryPass>fuck12you12</repositoryPass>
    <repositoryAbsolutePath>G:\rso_eclipse\repo</repositoryAbsolutePath>
  </repositoryConfiguration>
</pl.edu.pw.rso2012.a1.dvcs.model.configuration.Configuration>